/* src/app/globals.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: oklch(0.985 0.002 247.839);
  --foreground: #171717;
  --primary-color: #00b894;
  /* Warna Hijau Tosca Utama */
  --secondary-color: #ff7675;
  /* Warna Pink/Salmon */
}

body {
  background-color: var(--background);
}

/* Animasi sederhana untuk hasil */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fade-in {
  animation: fadeIn 0.5s ease-out forwards;
}

.animate-fade-in-up {
  animation: fadeIn 0.7s ease-out forwards;
}