:root {
  --bg-color: #F3F9FA;
  --primary-color: #267765; /* Hijau Tua - Tombol Login & Teks Header */
  --secondary-color: #FF928A; /* Salmon/Pink - Tombol Mulai Disini */
  --text-color: #333333;
  --card-bg: #FFFFFF;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Inter', system-ui, Avenir, Helvetica, Arial, sans-serif;
  background-color: var(--bg-color);
  color: var(--text-color);
  -webkit-font-smoothing: antialiased;
}

/* Utilitas Container agar konten rapi di tengah */
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

h1, h2, h3, h4, p {
  margin: 0;
}

button {
  cursor: pointer;
  border: none;
  font-weight: 600;
  transition: opacity 0.3s;
}

button:hover {
  opacity: 0.9;
}